body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
}

.box-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    width: 100px;
    border-top: 2px solid #000000;
    text-align: center;
}

.box-a {
    background: linear-gradient(#264cbf, #ea2d2d);
}

.box-b {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    background-color: #eeeff2;
}
.box-b:hover {
    background-color: #ffcccc;
    transform: rotate(180deg);
}

.box-c {
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.box-d {
    background-color: #eeeff2;
    font-family: 'Tangerine', cursive, serif;
    font-size: 40px;
}

.box-e {
    background-color: #dfe1e7;
    box-shadow: 5px -5px 5px rgb(190, 0, 0);
}

.box-f {
    display: none;
}
